html-tmp {
        background: url(../images/background.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-size: 100% 100%;
}

html {
	font-family: 'Nunito', serif;
}

a {
	text-decoration: none;
	color: black;
}

footer {
    margin: 30px auto 10px auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    display:inline-block;
}


li a {
    display: block;
    color: #373a3f;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the link color on hover */
li a:hover {
    color: #00E640;
}

section header {
	font-size: 30px;
}


.logo {
	width: 100%;
	text-align: center;
	font-family: Georgia;
}


.logo-link {
	text-decoration: none;
	color: black;
}

.custom-button {
    position: relative;
    display: block;
    padding: .2em .65em;
    border: 1px solid #000;
    border-radius: 4px;
    background: #666;
    color: #fff;
    box-shadow: inset 0 0 0 40em rgba(0,0,0,0.1), inset 0 -4em 8em -3.6em rgba(0,0,0,0.5), inset 0 0 3px 1px rgba(255,255,255,0.5);
    text-decoration: none;
    transition: box-shadow linear .2s;
}

/*Intro image for posts*/
.into-image {
    display: block;
    margin: auto;
    width: 100%;
    height: 500px;
}

.align-left {
    float: left;
    width: 50%;
}

.align-right {
    float: right;
    width: 50%
}

#canvas {
    max-width: 60%;
    margin: 10px auto;
    /*padding: 50px;*/
    word-wrap: break-word;
}

#body {
	text-align: center;
    margin-bottom: 70px; 
}

/*All the body img elements should have a similar style*/
/*#body img {
    display: block;
    margin: auto;
    width: 100%;
    height: 500px;
}

#error-message {
    text-align: center;
    margin: 2em;
    font-size: 2em;
    color: gray;
}*/