<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/social_icons.css">
    <link rel="stylesheet" type="text/css" href="static/css/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito">
    <title>Amit Tripathi</title>
  </head>
  <body bgcolor="#FFFFFF">
    <div id="canvas">
        <div class="logo">
            <h1 style="font-family: 'Nunito', serif">
                <a class="logo-link" href="/">AMIT TRIPATHI</a>
            </h1>
        </div>
        <hr>
        <div>
            <nav>
                <ul>
                  <li><a href="#">ABOUT</a></li>
                  <li><a href="#">PROJECTS</a></li>
                  <li><a href="http://mypynotes.wordpress.com">BLOG</a></li>
                  <li><a href="#">TRAVEL</a></li>
                </ul>
            </nav>
        </div>
        <hr>
        <div id="body">
            <div id="intro">
                <img class="into-image" id="profilepic" src="static/images/dp.png">
                <h2>I am Amit Tripathi</h2>
                <h3>Traveller, Mountaineer, Software Engineer</h3>
            </div>
            <hr>
            <div id="projects">
                <h2>PROJECTS</h2>
                <div class="card">
                    <img src="static/images/pygmy.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <header>
                            <a href="https://github.com/amitt001/pygmy" class="custom-button" style="background-color: #28143e;" target="_blank">Pygmy</a>
                        </header>
                        <p>Open-source, feature rich and extensible url shortener. It's created keeping in mind that it should be easy to host and run your custom URL shortener. Checkout <a href="https://pygy.co" style="color: blue" target="_blank">pygy.co</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="static/images/codebuddy.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <header>
                            <a href="https://github.com/amitt001/codebuddy" class="custom-button" style="background-color: #00a677;" target="_blank">Codebuddy</a>
                        </header>
                        <p>It is a real time code and document collaboration web app. It can be used for real time collaboration. Checkout <a href="http://pygy.co/cC" style="color: blue" target="_blank">pygy.co/cC</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="static/images/list.png" alt="Avatar" style="width:100%" target="_blank">
                    <div class="container">
                        <header>
                            <a href="https://gitlab.com/mailman/mailman/merge_requests?scope=all&utf8=%E2%9C%93&state=all&author_username=amitt001" class="custom-button" style="background-color: #ffcc33;" target="_blank">Mailman Core</a>
                        </header>
                        <p>Mailman is free software for managing electronic mail discussion and e-newsletter lists. <a href="http://list.org" style="color: blue" target="_blank">list.org</a></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <div id="sociallink">
                <a href="https://github.com/amitt001" class="fa fa-github" target="_blank"></a>
                <a href="https://facebook.com/amit.the1" class="fa fa-facebook" target="_blank"></a>
                <a href="https://twitter.com/amitt019" class="fa fa-twitter" target="_blank"></a>
                <a href="https://www.linkedin.com/in/amit-tripathi19/" class="fa fa-linkedin" target="_blank"></a>
                <a href="https://stackoverflow.com/users/4440675/amit-tripathi" class="fa fa-stack-overflow" target="_blank"></a>
                <a href="mailto:test@gmail.com" class="fa fa-envelope" target="_blank"></a>
            </div>
        </footer>
    </div>
  </body>
</html>